{% extends "base.html" %}

{% block navigation %} 
<nav class="ink-navigation">
	<ul class="breadcrumbs">
		<li> <a href="/blog">Articles</a></li>
		<li class="active">{{ article.title }}</li>
	</ul>
</nav>
{% endblock %}

{% block content %} 
        <div class="article">
            <h2> {{ article.title }} </h2>
            <p class="infosArticle"> Publié le {{ article.date }} par {{ article.autor }}
            {% if article.preContent %} <p><span class="preContent"> {{ article.preContent }} </span></p> {% endif %}
            <p>
                {{ article.content }}
            </p>
            
             <p><a href="/">Retour</a></p> 
        </div>
{% endblock %}
