{% extends "base.html" %}

{% block navigation %}
    <p><a href="/">Accueil</a> > {{ article.title }}</p> 
{% endblock %}

{% block content %} 
        <div class="article">
            <h2> {{ article.title }} </h2>
            <p class="infosArticle"> Publié le {{ article.date }} par {{ article.autor }}
            {% if article.preContent %} <p><span class="preContent"> {{ article.preContent }} </span></p> {% endif %}
            <p>
                {{ article.content }}
            </p>
            
             <p><a href="/">Retour</a></p> 
        </div>
{% endblock %}
