<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Fantasia Labruguière</title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui/jquery-1.9.1.js"></script>
    </head>
    <body>
        <div id="center">
            <div id="titlebar">
                {% block menu %}
                <div>
                    <p id="mainTitle">Harmonie Fantasia</p>
                </div>
                {% endblock %}
            </div>
            <div id="sections">
                <div><a href="/blog/">Articles</a></div><div><a href="/gallery/">Galerie</a></div>
            </div>
            <div id="navigation">
                {% block navigation %}
                <p><a href="/">Accueil</a></p>
                {% endblock %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="footer">
                <p>Developped by Jean-Baptiste Gintrand - <a href="http://kebree.fr" target="_blank">kebree.fr</a></p>
            </div>
        </div>
    </body>
</html>
