{% extends "photologue/root.html" %}
{% load url from future %}

{% block navigation %} 
<nav class="ink-navigation">
	<ul class="breadcrumbs">
		<li> <a href="/gallery/gallery">Galleries</a></li>
		<li class="active">{{ object.title }}</li>
	</ul>
</nav>
{% endblock %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<h2>{{ object.title }}</h2>
<h5 class="infosArticle">Originally published {{ object.date_added|date:"l, F jS, Y" }}</h5>
{% if object.description %}<p>{{ object.description }}</p>{% endif %}
<div class="photo-gallery">
    {% for photo in object.public %}
    <div class="gallery-photo">
        <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ photo.title }}"/></a>
    </div>
    {% endfor %}
</div>
<p id="allGalLink"><a href="{% url 'pl-gallery-list' 1 %}">View all galleries</a></p>

{% endblock %}
