{% extends "photologue/root.html" %}
{% load url from future %}

{% block navigation %} 
<nav class="ink-navigation">
	<ul class="breadcrumbs">
		<li class="active"> <a href="/gallery/gallery">Galleries</a></li>
	</ul>
</nav>
{% endblock %}

{% block title %}Latest Photo Galleries{% endblock %}

{% block content %}

<h3>Latest Photo Galleries</h3>

{% if latest %}
    {% for gallery in latest %}
    <div class="photo-gallery">
        <h4><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h4>
        {% for photo in gallery.sample %}
        <div class="gallery-photo">
            <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" class="{% block gallery-photo-class %}{% endblock %}" alt="{{ photo.title }}"/></a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% else %}
    <p>No galleries were found.</p>
{% endif %}

<p><a href="{% url 'pl-gallery-list' 1 %}">View all galleries.</a></p>

{% endblock %}
